---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Voluptas+nostrum+ea+et+dolores+repellendus+illum+voluptas+magnam.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F260-voluptas-nostrum
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a589fa1d72ee2d2588222cb86cf9ce25",
        oauth_signature="vrmayXwVkIxzU82iq2ofA0zC4X0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119272", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - a4f2551b36a85f221b0c9c56116ecfdd
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:32 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Vel+veritatis+illum+in+dolorum+officia+porro+aliquid.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F261-vel-veritatis
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0c731ddb81f0ae6f60ee832c9767216d",
        oauth_signature="i4rJtHU8Hp6aMwKVmo42%2BZy7%2FyU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119272", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - da34aaabff9d49fc27355a1f3b595954
      X-Response-Time:
      - '5'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:33 GMT
recorded_with: VCR 3.0.1
