---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Beatae+quibusdam+consequatur+qui+minima+hic.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F268-beatae-quibusdam
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="2ec7949dcb16d85c751e86b075c053bf",
        oauth_signature="3OdHvphJNU0oxA6URL9HuGTJFlg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119275", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - dfc6d6b665f8d5ceeb2a81a3ae651c8b
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:36 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Explicabo+debitis+atque+minima+consequatur+non+reiciendis.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F269-explicabo-debitis
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="7afb5b3781e93b112a42156c6f9d643b",
        oauth_signature="gZMWGCuvKArw%2BfXxJp13%2F7O4JiI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119276", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 6a97dae01b57fe8a3e02a79b5a23be7e
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:36 GMT
recorded_with: VCR 3.0.1
