---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Voluptate+libero+et+non.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F266-voluptate-libero
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="52c8ed62ca13aee19bad2c8009612567",
        oauth_signature="okmQctt285oUsOQMWboaFeEcrGE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119274", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 1a2a4710bca56d8c3d425c9a7bc63bef
      X-Response-Time:
      - '5'
      X-Tsa-Request-Body-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:35 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Voluptas+consequatur+neque+quis.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F267-voluptas
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="ceaa45ff7f9f4bd353c8285b40766d52",
        oauth_signature="JOd9fCqCgoMnSEPcx5B%2BrbITEdw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119275", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - d21301641b1183ae629b9b7fb711537d
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:35 GMT
recorded_with: VCR 3.0.1
