---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Sint+in+accusamus+quia+impedit+minima.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F262-sint-in-accusamus
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="fb803012d8e0433259fd6b28c3b96601",
        oauth_signature="EqirNZFf5jQxxq2u1ID6X50Dv%2BQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119273", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 42a972bb765916a490ec5eb17381dcf0
      X-Response-Time:
      - '5'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:33 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Voluptatem+vitae+delectus+saepe+ducimus+veritatis+ea.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F263-voluptatem-vitae
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="6b6e187e7ce44654e23f6c38cc5d251e",
        oauth_signature="ghb35vHmRWTB8%2Fso5Jys8E9PW%2BE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119273", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 8a20c24efb48a3fb9157103e35a0229c
      X-Response-Time:
      - '5'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:34 GMT
recorded_with: VCR 3.0.1
