---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Ad+numquam+assumenda+recusandae+facilis+voluptas+animi.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F264-ad-numquam
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="c9a178e2999b4b78db57382e62fea5c6",
        oauth_signature="7Go0uaaQzI9GWiQ%2FLyzlxSmeARA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119274", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 8175500f318eb5340880ee24bb0a6cad
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:34 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Neque+repudiandae+porro+facere+odio+odit+ab.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F265-neque-repudiandae
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="c7d904b6ab733c0aebdd1a29c184f7ff",
        oauth_signature="%2FyDC5Y5a7BuSVfXUKcX%2F2avMtbo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119274", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - e2e4d85a198636dc330bb170f3794a08
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:34 GMT
recorded_with: VCR 3.0.1
