rvm:
- 2.2.4
cache: bundler
sudo: false
addons:
  postgresql: '9.3'
before_script:
- bundle exec rake db:create
- bundle exec rake db:schema:load
deploy:
  provider: heroku
  api_key:
    secure: a/vnDaQNpByGGhGx+DZu4EbhZj5wdRhPEZdFCY5bCt8pJiK+v3uIXEhVI6dmBv3aLPEe4OhGYn8aSHIUbfvoIh3aAXKQwnrL5KIBtX6/cSeEJXmGD6OQbIN5o7M6kqA79wJrfofX4qlUTVszhOEKj0iLAM2XoxMALYJk98Vxz1A=
  app: montreal-rb
  on:
    repo: montrealrb/Montreal.rb
    branch: master
  run:
    - "rake db:migrate"
    - restart
    - "rake cleanup"
