<% provide :title, 'Jobs' %>

<h1>Listing Jobs</h1>

<%= form_tag(jobs_path, method: "get") do %>
  <div class="col-md-11 col-sm-8 col-xs-5">
    <%= text_field_tag(:query, "", { class: "form-control", placeholder: "Awesome job" }) %>
  </div>
  <div class="col-md-1 col-sm-4 col-xs-5">
    <%= submit_tag("Search", class: "btn btn-primary") %>
  </div>
<% end %>

<%= render @jobs %>
