---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Quia+enim+in+illo+non+quia+et.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F238-quia-enim-in-illo
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="ccff7f7b4f39cd148dad148ebe59d377",
        oauth_signature="J6rJ5Af3K217mhWK0aBKalYayRw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119243", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - dc921ac9fb6473e86fb44d2cb2773bf7
      X-Response-Time:
      - '5'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:03 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Voluptatibus+inventore+similique+exercitationem+repellat+ut.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F239-voluptatibus
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="ffb690f6db979cb3cf81d2f9b4698527",
        oauth_signature="PUtreCl6o6NGqF1MeyTfRyv5djE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119243", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 5736176b4d9f34f157283c3f8b39a105
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:04 GMT
recorded_with: VCR 3.0.1
