div {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
  color: $main;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  line-height: $base-line-height;
  min-height: 100vh;
}

section {
  @extend .col-sm-12, .col-md-12, .col-lg-12;
}

a,
a:visited {
  color: $links;
  text-decoration: none;

  &:hover {
    color: $links-hover;
    text-decoration: none;
  }
}

p {
  margin: $padding 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  margin: 0;
  padding: $padding / 2 0;

  a,
  a:visited {
    color: $main;

    &:hover {
      color: $links;
      text-decoration: none;
    }
  }
}

h1 {
  color: $main-highlight;
  font-size: 2.2em;
}

h2 {
  padding-bottom: 0;
}

h3,
h3 a {
  color: $main-secondary;
  font-weight: bold;
  padding: $padding 0;
}

h4 {
  letter-spacing: 1px;
}

blockquote {
  border-left: 5px double $header-bg-color;
  margin: $padding;

  p {
    margin: 0;
  }
}

ul {
  margin: 0;
  padding-left: $gutter;
}

.main {
  flex: 1;
  font-family: $main-font;
  font-size: $base-font-size;
  padding-top: $gutter;
}

.card {
  background-color: $bg-secondary;
  box-shadow: 1px 1px 3px 0 darken($bg-secondary, 10%);
  margin: $gutter 0;
  padding: 0 $gutter $padding;

  h2 {
    padding-bottom: $padding / 2 0;
  }

  i {
    padding-right: 10px;
  }
}

.meta {
  font-family: $secondary-font;
  font-size: 1.2em;
  line-height: 1.6em;

  p {
    margin: 0;
  }
}

.markdown-body {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    color: $main-secondary;
    font-size: 1.1em;
    padding: $padding 0;
  }

  h3,
  h4 {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}

.gravatar {
  float: left;
  margin: 5px 20px 15px 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding: 10px 30px;
  background-color: $bg;
  margin: 0 auto 2rem;

  h1 {
    font-weight: normal;
    line-height: 3.4rem;
    font-size: 3.2rem;
    letter-spacing: -1px;
    color: black;
    margin-bottom: 0.5rem;
    padding: 0.1em 0;
  }

  p, li {
    line-height: 2.3rem;
    font-size: 2rem;
    color: #000;
  }

  .btn {
    background-color: #cc0000;
    border-color: #ff9999;
  }
}
