div {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
  color: $main;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  line-height: $base-line-height;
  min-height: 100vh;
}

section {
  @extend .col-sm-12, .col-md-8, .col-lg-8;
}

a,
a:visited {
  color: $links;
  text-decoration: none;

  &:hover {
    color: $links-hover;
    text-decoration: none;
  }
}

p {
  margin: $padding 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  margin: 0;
  padding: $padding / 2 0;

  a,
  a:visited {
    color: $main;

    &:hover {
      color: $links;
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 3em;
}

h2 {
  color: $main-highlight;
  padding-bottom: 0;
}

h3,
h3 a {
  color: $main-secondary;
  font-weight: bold;
}

h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  border-left: 5px double $header-bg-color;
  margin: $padding;

  p {
    margin: 0;
  }
}

ul {
  margin: 0;
  padding-left: $gutter;
}

.main {
  flex: 1;
  font-family: $main-font;
  font-size: $base-font-size;
  padding-top: $gutter;
}

.card {
  background-color: $bg-secondary;
  box-shadow: 1px 1px 3px 0 darken($bg-secondary, 10%);
  margin: $gutter 0;
  padding: 0 $gutter $padding;

  h2 {
    padding-bottom: $padding / 2 0;
  }

  i {
    padding-right: 10px;
  }
}

.meta {
  font-style: italic;
}

.markdown-body {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    color: $main-secondary;
    font-size: 1.1em;
    padding: $padding 0;
  }

  h3,
  h4 {
    font-size: 1em;
  }
}

.gravatar {
  float: left;
  padding: 5px 20px 15px 0;
}
