$bg: #D9DADE;
$bg-highlight: lighten($bg, 7%);
$bg-secondary: darken($bg, 7%);
$main: #333;
$highlight: lighten($bg, 30%);

$header-title-color: #ffffff;
$header-bg-color: #bc0100;
$navbar-bg-color: #95040b;
$navbar-bg-highlight-color: #2c3230;
$footer-bg-color: #2c3230;

$links: #004E94;

// FONTS
$main-font: 'Lora', Helvetica, serif;
$secondary-font: 'Montserrat', Arial, sans-serif;
$base-font-size: 1.1em;
