<div class="post clearfix">
  <h2 class="post-title"><%= link_to news_item.title, news_item_path(news_item) %></h2>
  <p class="meta">
    Posted <%= time_ago_in_words(news_item.published_at) %> ago
  </p>
  <div class="post-body">
    <%= render_markdown_as_html news_item.body %>
  </div>
</div>
