<div class="jumbotron">
    <h1>Montreal's Ruby Community</h1>
    <p>
      Montreal.rb is a community group of Montreal-based Ruby and Ruby on Rails developers.
      It's aim is to help support local developers by creating a thriving forum for learning and discussion, and also just spread the RoR good word.
      We are providing the community with a wide range of events and activities, such as:
      <ul>
        <li><strong>Monthly meetups</strong>, balancing talks catering to a beginner, intermediate and expert audience</li>
        <li><strong>Workshops</strong>, where we get together around a practical subject and hack away</li>
        <li><strong>Railsbridge</strong>, where we promote and democratize software development using Ruby</li>
      </ul
    </p>

    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<hr>
<%= render template: 'events/index' %>
<%= render template: 'news_items/index' %>
