<% provide :title, "Events" %>

<% if @todays_event %>
  <h1>Today's Event</h1>

  <div class='todays-event'>
    <%= render @todays_event %>
  </div>

<% end %>


<% if @future_events %>
  <h1>Upcoming <%= 'Event'.pluralize(@future_events.count) %></h1>

  <div class='future-events'>
    <%= render @future_events.reverse %>
  </div>
<% end %>

<h1>Past Events</h1>

<div class='past-events'>
  <%= render @past_events %>
</div>
