<% provide :title, "Events" %>

<% if @future_events.any? %>
  <h1>Upcoming <%= 'Event'.pluralize(@future_events.count) %></h1>

  <div class='future-events'>
    <%= render @future_events %>
  </div>
<% end %>

<h1>Past Events</h1>

<div class='past-events'>
  <%= render @past_events %>
</div>
