<% @events.each do |event| %>
  <div class="post clearfix">
    <h2 class="post-title"><%= link_to event.title, event_path(event)%></h2>
    <p class="meta">
      Starts: <%= event.date %>
    </p>
    <div class="post-body">
      <%= render_markdown_as_html(event.body)%>
      <% if event.talks %>
        <ul>
          <% event.talks.each do |talk| %>
            <%= talk.title %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
