<div class="event">
  <h1><%= @event.title %> <small><%= @event.starts_at.to_formatted_s(:long) %></small></h1>
  <p> <%= @event.introduction  %></p>
  <p> <%= @event.conclusion  %></p>
  <p> </p>
</div>