 <div class="post clearfix">
    <h2 class="post-title"><%= @event.title%></h2>
    <p class="meta">
      Starts: <%= @event.date %>
    </p>
    <div class="post-body">
      <%= @event.body %>
    </div>
  </div>
