<div class="sponsor">
  <div class="row">
    <div class="col-med-10 hidden-sm">
      <h4>
        <%= link_to sponsor.name, organization_path(sponsor) %>
      </h4>
    </div>
    <div class="col-med-2 pull-right">
      <% if sponsor.logo.present? %>
        <%= link_to image_tag(sponsor.logo.thumbnail.url, alt: sponsor.name), organization_path(sponsor) %>
      <% end %>
    </div>
  </div>
</div>
