---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Ea+vel+porro+rerum+nesciunt+quam+odio+velit.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F249-ea-vel-porro
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="1530d978498ffb02e004bdc3d8971d9c",
        oauth_signature="%2FgL0KWtl4ByQoP4IWrZpPhazhVM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119247", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - a9d38bcb7dc94baecb4478dce6c0bd34
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:14:08 GMT
recorded_with: VCR 3.0.1
