---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Testing+the+twitter+feature+for+montrealrb.com
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="0d363a6ffda1ddfb84973d850c9d02e8",
        oauth_signature="iDiZ9cwOlrXOJNkznvM63bTQ9%2Fk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461901783", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 29 Apr 2016 03:49:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 58582a80e2a1c52f8b44c8f4dc18630f
      X-Response-Time:
      - '157'
      X-Transaction:
      - 561153ed5042daa0
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Apr 29 03:49:43 +0000 2016","id":725894808619913216,"id_str":"725894808619913216","text":"Testing
        the twitter feature for https:\/\/t.co\/oSOwmbv0ZT","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/oSOwmbv0ZT","expanded_url":"http:\/\/montrealrb.com","display_url":"montrealrb.com","indices":[32,55]}]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003eMontreal.rb Autotweeter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":91219639,"id_str":"91219639","name":"montrealrb","screen_name":"montrealrb","location":"Montreal,
        QC, Canada","description":"Montreal.rb - The Ruby and Ruby on Rails users
        group in Montreal","url":"http:\/\/t.co\/3h1UclEgLM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3h1UclEgLM","expanded_url":"http:\/\/www.montrealonrails.com\/","display_url":"montrealonrails.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":425,"friends_count":52,"listed_count":29,"created_at":"Thu
        Nov 19 23:28:04 +0000 2009","favourites_count":1,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":330,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Fri, 29 Apr 2016 03:49:43 GMT
recorded_with: VCR 3.0.1
