---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Testing+the+twitter+feature+for+montrealrb.com
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="2f9d3cb3db1c2804a2f8aee35ad7664d",
        oauth_signature="2%2F%2BBXfRtYKUdIGtEKhtEDEVRgZo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462120966", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 May 2016 16:42:46 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 94fa4108325515e5b7e295917b67bf2f
      X-Response-Time:
      - '14'
      X-Transaction:
      - 9e3dc27a5c0875bb
      X-Tsa-Request-Body-Time:
      - '4'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Sun, 01 May 2016 16:42:46 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="7649480b5a635cdf9cdb8ae800e10040",
        oauth_signature="dpUmKTTJAk2N3oi8r1lZ%2BgkWCOM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462120966", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 May 2016 16:42:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 63217f819fecf8a2572ce91112052d35
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1462121866'
      X-Response-Time:
      - '27'
      X-Transaction:
      - a8d92f5c08a097bd
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun May 01 16:36:15 +0000 2016","id":726812487589449730,"id_str":"726812487589449730","text":"Testing
        the twitter feature for https:\/\/t.co\/J8XGagIU3G","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/J8XGagIU3G","expanded_url":"http:\/\/montrealrb.com","display_url":"montrealrb.com","indices":[32,55]}]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003emontreal.rb test\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1306342303,"id_str":"1306342303","name":"Wired
        Monkeys","screen_name":"wiredmonkeys","location":"Montreal","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":7,"listed_count":0,"created_at":"Wed
        Mar 27 02:59:48 +0000 2013","favourites_count":0,"utc_offset":-10800,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":4,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/486738106293313537\/91k3rTEx_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/486738106293313537\/91k3rTEx_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1306342303\/1404882388","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: Sun, 01 May 2016 16:42:46 GMT
recorded_with: VCR 3.0.1
