---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Ab+dicta+ipsam+ipsum+eius.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F1-ab-dicta-ipsam-ipsum
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="d30dc26f6e4b0b3ac4dd702f53c04daf",
        oauth_signature="ju6gfNLr6YaYJp%2BTbGVxNQ2ecqo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1506398794", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 Sep 2017 04:06:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 78c525b467a37212c9bee88322ed9006
      X-Response-Time:
      - '128'
      X-Transaction:
      - 006a9336001c3166
      X-Tsa-Request-Body-Time:
      - '26'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Tue Sep 26 04:06:35 +0000 2017","id":912528804672888832,"id_str":"912528804672888832","text":"Our
        next event: Ab dicta ipsam ipsum eius., http:\/\/localhost:3000\/events\/1-ab-dicta-ipsam-ipsum","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003etest montreal.rb\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":70496165,"id_str":"70496165","name":"Sophie
        D\u00e9ziel (\u1d54\u1d25\u1d54)","screen_name":"sophiedeziel","location":"Montr\u00e9al,
        QC, Canada","description":"Ruby on Rails developer \/ @montrealrb organizer
        \/ trying to write relevant things \/ eating flying spaghetti monsters \/
        It''s pronounced Daisy-Elle","url":"https:\/\/t.co\/RFXopT4WzR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RFXopT4WzR","expanded_url":"http:\/\/sophiedeziel.com","display_url":"sophiedeziel.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":433,"friends_count":455,"listed_count":24,"created_at":"Mon
        Aug 31 20:47:50 +0000 2009","favourites_count":820,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1996,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/724741540720066562\/DW-X98-W_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/724741540720066562\/DW-X98-W_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/70496165\/1404883019","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Tue, 26 Sep 2017 04:06:35 GMT
recorded_with: VCR 3.0.3
