---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Est+sed+ipsum+qui+necessitatibus+eaque+eos+ad.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F330-est-sed-ipsum-qui
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="d0f5724fff300075dfb26ee378af561e",
        oauth_signature="oC40QYAefGc6cCLVLREncfi0%2B3w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119349", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - c6c5bc97b17db8e2261f1810c2256c8b
      X-Response-Time:
      - '64'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:15:49 GMT
recorded_with: VCR 3.0.1
