<div class='news-item'>
  <h3 class="news-item-title"><%= link_to news_item.title, news_item %></h3>
  <p class="meta">
    Posted <%= time_ago_in_words(news_item.published_at) %> ago
  </p>
  <div class="news-item-body">
    <%= render_markdown_as_html truncate(news_item.body, length: 200, omission: ' ', separator: ' ') { link_to icon('long-arrow-right'), news_item } %>
  </div>
</div>
