.issue-bar {
  background-color: grey;
  width: 3px;
}

.issue-title {
  width: 70px;
}

.joblint-issue {
  margin-bottom: 1px;
}

#issues-container span {
  display: inline-block;
}

.joblint-error {
  background-color: #E8B0C4;
}

.joblint-warning {
  background-color: #E0ED6B;
}

.joblint-notice {
  background-color: #A8FBFF;
}

.joblint-reason {
  font-style: italic;
}

.joblint-occurance {
  background-color: red;
  padding: 5px;
}

.joblint-issue-desc-container {
  margin-top: 1.5%;
  width: 95%;
}

.joblint-issue-desc {
  padding: 5px;
  margin-bottom: 1%;
}

.joblint-context {
  margin: 1%;
  background-color: black;
  color: white;
  text-align: center;
  width: 50%;
  padding: 10px;
}

.joblint-explanation {
  margin: 1%;
}

.joblint-title {
  margin: 1%;
}
