$context-text: #ffffff;
$context-background: #000000;
$occurance-color: #ff0000;
$notice-background: #a8fbff;
$warning-background: #e0ed6b;
$error-background: #e8b0c4;
$issue-bar-color: #808080;

.issue-bar {
  background-color: $issue-bar-color;
  width: 3px;
}

.issue-title {
  width: 70px;
}

.joblint-issue {
  margin-bottom: 1px;
}

.issues-container span {
  display: inline-block;
}

.joblint-error {
  background-color: $error-background;
}

.joblint-warning {
  background-color: $warning-background;
}

.joblint-notice {
  background-color: $notice-background;
}

.joblint-reason {
  font-style: italic;
}

.joblint-occurance {
  background-color: $occurance-color;
  padding: 5px;
}

.joblint-issue-desc-container {
  margin-top: 1.5%;
  width: 95%;
}

.joblint-issue-desc {
  margin-bottom: 1%;
  padding: 5px;
}

.joblint-context {
  background-color: $context-background;
  color: $context-text;
  margin: 1%;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.joblint-explanation {
  margin: 1%;
}

.joblint-title {
  margin: 1%;
}
