footer {
  color: #fff;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: $footer-bg-color;
  font-family: $secondary-font;

  a {
    color: $footer-text-color;

    &:hover {
      color: $links;
    }
  }
}
