footer {
  color: #fff;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: $footer-bg-color;
  font-family: $secondary-font;
  a, a:hover {
    color: $highlight;
  }
}
