@media screen and (max-width: 768px) {
  .navbar-collapse {
    border-color: $header-title-color;
  }
}

header {
  background-color: $header-bg-color;

  h1 {
    color: $header-title-color;
    font-family: 'Roboto Mono';
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 2px;
  }

  p {
    color: $bg-highlight;
    padding-bottom: $padding;
    padding-top: 0;
  }

  .navbar-toggle:hover {
    background-color: transparent;
  }
}
