@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

header {
  background-color: #cb4349;
  color: #19273a;

  h1 {
    font-size: 55px;
    line-height: 1;
    color: $header-title-color;

    a,
    a:hover,
    a:focus,
    a:visited {
      color: $header-title-color;
      text-decoration: none;
    }
  }

}