@media screen and (min-width: 768px) {
  .navbar-brand {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    margin-top: 5px;
    padding-left: 10px;
  }

  .navbar-collapse {
    border-color: $header-title-color;
  }
}

header {
  background-color: #cb4349;
  color: #19273a;

  h1 {
    color: $header-title-color;
  }

  p {
    color: $gray-dark;
  }

  .navbar-brand {
    padding: 5px;
  }

  .navbar-toggle,
  .icon-bar {
    border: 1px solid $header-title-color;
  }

  .navbar-toggle:hover {
    background-color: transparent;
  }

  a,
  a:hover,
  a:focus,
  a:visited {
    color: $header-title-color;
    text-decoration: none;
  }
}
