.navbar-right li a {
  background-color: $navbar-bg-color;
  color: $navbar-text-color;
  font-family: $secondary-font;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &:hover {
    color: $navbar-text-color;
    background-color: $navbar-bg-highlight-color;
  }
}

.navbar-toggle {
  color: $navbar-text-color;
  margin-top: $padding;
}

.navbar {
  margin: 0 $padding;

  .navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    p {
      color: $main;
      margin-bottom: 8px
    }
  }

  .navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .icon-size {
    font-size: 87px;
  }
}
