aside {
  @extend .col-sm-12, .col-md-3, .col-lg-3, .pull-right;

  .card {
    background-color: $bg-highlight;
    box-shadow: 1px 1px 3px 0 darken($bg-highlight, 10%);
    margin: $gutter 0;
    padding: $padding / 2 $gutter;

    h3 {
      padding-bottom: 0;
    }
  }
}
