.event-meta {
  font-size: 1.2em;
  font-family: $secondary-font;
  line-height: 1.6em;
  padding-bottom: $gutter;
  padding-left: $padding/2;
}

.talk {
  min-height: $min-height-for-field-with-gravatar;
}
