.events {
  h3 {
    margin-bottom: 0;
    padding-bottom: 0.1em;
  }
  .event-meta {
    font-family: $secondary-font;
    font-size: 1.2em;
    line-height: 1.6em;
    padding-left: 0;

    p {
      margin: 0;

      &.no-icon {
        padding-left: 25px;
      }
    }
  }

  .talk {
    min-height: $min-height-for-field-with-gravatar;
    margin-bottom: 50px;
  }
}
