.event {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.event-title {
  margin-top: 0;
  a {
    text-decoration: underline;
  }
}
.event-meta {
  font-size: 16pt;
  margin: 20px 0px 50px;
  a {
    text-decoration: underline;
  }
}

