.meetup {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.meetup-title {
  margin-top: 0;
}

.meetup-body {
  font-size: 1.2em;
}

// Dummy class for mockup. Should be deleted
.meetup-sponsor-img {
  width: 100%;
  height: 140px;
  background-color: #ddd;
}
