.news-item {
  background-color: $bg-highlight;
  box-shadow: 1px 1px 3px 0 darken($bg-highlight, 10%);
  margin: $gutter 0;
  padding: $padding / 2 $gutter $padding;
}

.news-item-body {
  a:hover {
    color: $main;
  }
}


