.news-item {
  background-color: $bg-highlight;
  box-shadow: 1px 1px 3px 0px darken($bg-highlight, 10%);
  padding: $padding/2 $gutter $padding $gutter;
  margin: $gutter 0;
}

.news-item-body {
  a:hover {
    color: $main;
  }
}


