---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Iure+et+minima+facilis+sequi+est.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F173-iure-et-minima
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="76bf81693979c9cf8d52e67b1d16721b",
        oauth_signature="OT0ekzkDMdjrpu2%2F2Vyo2OmyQ6o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461970823", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 29 Apr 2016 23:00:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d6270249b05bfc78c8eeda4bedd75657
      X-Response-Time:
      - '86'
      X-Transaction:
      - 562e30487c252522
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Apr 29 23:00:24 +0000 2016","id":726184385712545792,"id_str":"726184385712545792","text":"Our
        next event: Iure et minima facilis sequi est., http:\/\/localhost:3000\/events\/173-iure-et-minima","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003eMontreal.rb Autotweeter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":91219639,"id_str":"91219639","name":"montrealrb","screen_name":"montrealrb","location":"Montreal,
        QC, Canada","description":"Montreal.rb - The Ruby and Ruby on Rails users
        group in Montreal","url":"http:\/\/t.co\/3h1UclEgLM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3h1UclEgLM","expanded_url":"http:\/\/www.montrealonrails.com\/","display_url":"montrealonrails.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":424,"friends_count":52,"listed_count":29,"created_at":"Thu
        Nov 19 23:28:04 +0000 2009","favourites_count":1,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":343,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"fr"}'
  recorded_at: Fri, 29 Apr 2016 23:00:24 GMT
[...]
