<h1><%= render_markdown_as_html @organization.name %></h1>

<%= image_tag(@organization.logo.standard.url, class: "logo") if @organization.logo? %>

<%=  render_markdown_as_html @organization.description %>
