---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Id+nisi+nihil+dignissimos+officiis+quasi+rem+et.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F322-id-nisi-nihil
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b875a3e9443119d60ce541c65c2cef43",
        oauth_signature="46F4s8HKb0eBZoHB96lG%2B4ZEkD8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462119346", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - f6ab990d0724132000d4658a5d1df127
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:15:47 GMT
recorded_with: VCR 3.0.1
