---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Beatae+qui+et+dicta.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F467-beatae-qui-et-dicta
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="8210717a6e457144e2c8b7e3daa89b19",
        oauth_signature="fo9%2BCmDtYLdek5VWEj9rqm2Bf1k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462120105", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - 52e81bdda6b58f07e8612fb85d7d179e
      X-Response-Time:
      - '4'
      X-Tsa-Request-Body-Time:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Sun, 01 May 2016 16:28:25 GMT
recorded_with: VCR 3.0.1
