---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Enim+ut+fugit+saepe+quisquam+iste+tempora+porro+voluptates.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F153-enim-ut-fugit
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5a3d822677c9c6714ff07d15b7e96dc2",
        oauth_signature="%2FlYw4kVMtYp2yKTHoF5KLWLNaEk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461970813", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 29 Apr 2016 23:00:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fed8d495f3a3d30669885de0efc780ca
      X-Response-Time:
      - '93'
      X-Transaction:
      - 8bcf639679314b55
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Apr 29 23:00:13 +0000 2016","id":726184341382946816,"id_str":"726184341382946816","text":"Our
        next event: Enim ut fugit saepe quisquam iste tempora porro voluptates., http:\/\/localhost:3000\/events\/153-enim-ut-fugit","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003eMontreal.rb Autotweeter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":91219639,"id_str":"91219639","name":"montrealrb","screen_name":"montrealrb","location":"Montreal,
        QC, Canada","description":"Montreal.rb - The Ruby and Ruby on Rails users
        group in Montreal","url":"http:\/\/t.co\/3h1UclEgLM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3h1UclEgLM","expanded_url":"http:\/\/www.montrealonrails.com\/","display_url":"montrealonrails.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":424,"friends_count":52,"listed_count":29,"created_at":"Thu
        Nov 19 23:28:04 +0000 2009","favourites_count":1,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":330,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1124292565\/mtlrb-logo-200x200_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"und"}'
  recorded_at: Fri, 29 Apr 2016 23:00:13 GMT
recorded_with: VCR 3.0.1
