---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Our+next+event%3A+Vero+inventore+eos+reiciendis+repellat+dolores+et.%2C+http%3A%2F%2Flocalhost%3A3000%2Fevents%2F487-vero-inventore
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="801030884367c0d030e3eaf56303fe58",
        oauth_signature="OTV%2FxITe0Kc6D932EHIXz47djL0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1462120567", oauth_token="<TWITTER_ACCESS_TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 May 2016 16:36:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1bcc9ad2bebde679eaba08138505280f
      X-Response-Time:
      - '82'
      X-Transaction:
      - 50b4f4da35e4e025
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Sun May 01 16:36:08 +0000 2016","id":726812458275487745,"id_str":"726812458275487745","text":"Our
        next event: Vero inventore eos reiciendis repellat dolores et., http:\/\/localhost:3000\/events\/487-vero-inventore","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/montrealrb.com\" rel=\"nofollow\"\u003emontreal.rb test\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1306342303,"id_str":"1306342303","name":"Wired
        Monkeys","screen_name":"wiredmonkeys","location":"Montreal","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":7,"listed_count":0,"created_at":"Wed
        Mar 27 02:59:48 +0000 2013","favourites_count":0,"utc_offset":-10800,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":3,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/486738106293313537\/91k3rTEx_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/486738106293313537\/91k3rTEx_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1306342303\/1404882388","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"fr"}'
  recorded_at: Sun, 01 May 2016 16:36:08 GMT
recorded_with: VCR 3.0.1
