<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li>Follow us:</li>
          <li><%= link_to icon('twitter', 'Twitter'), '#' %></li>
          <li><%= link_to icon('facebook', 'Facebook'), '#' %></li>
          <li><%= link_to icon('google-plus', 'Google+'), '#' %></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <p class="pull-right">
          Montreal.rb &copy; <%= Time.current.year %>
        </p>
      </div>
    </div>
  </div>
</footer>