<footer>
  <div class="left">
    <ul>
      <li>Follow us:</li>
      <li><%= link_to icon("twitter", "@montrealrb"), "https://twitter.com/montrealrb", target: "_blank" %></li>
      <li><%= link_to icon("google", "Google group"), "https://groups.google.com/forum/?fromgroups#!forum/montrealrb", target: "_blank" %></li>
    </ul>
  </div>
  <div class="right">
    <p>Montreal.rb &copy; <%= Time.current.year %></p>
  </div>
</footer>
