<h3 class="sidebar-title">Upcoming Events</h3>
<% if @events.any? %>
  <% @events.each do |event| %>
    <div class="meetup">
      <h4 class='meetup-title'><%= link_to event.title_with_date, event %></h4>
      <div class="meetup-body">
        <p>
          <%= truncate(event.introduction, length: 400) %>
        </p>
        <p>
          <%= link_to 'Please RSVP', '#' %>
        </p>
      </div>
      <h5>Sponsored by:</h5>
      <img src="" alt="" class="meetup-sponsor-img">
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">
    <p>
      No event to display.
    </p>
  </div>
<% end %>
