<h3 class="sidebar-title">Upcoming Events</h3>
<div class="meetup">
  <h4 class='meetup-title'><%= link_to 'Meetup: November 17', '#' %></h4>
  <div class="meetup-body">
    <p>
      This month, we’ll take a little break from Ruby and have a peak in two functional languages: Elixir and Haskell. Will your Ruby code look the same after this meet-up? Who knows?
    </p>
    <p>
      <%= link_to 'Please RSVP', '#' %>
    </p>
  </div>
  <h5>Sponsored by:</h5>
  <img src="" alt="" class="meetup-sponsor-img">
</div>
<div class="meetup">
  <h4 class='meetup-title'><%= link_to 'Workshop: November 24', '#' %></h4>
  <div class="meetup-body">
    <p>
      Experienced and new Ruby on Rails developers are welcome to pair together to work on the features we need to publish our new website.
    </p>
    <p>
      <%= link_to 'Please RSVP', '#' %>
    </p>
  </div>
  <h5>Sponsored by:</h5>
  <img src="" alt="" class="meetup-sponsor-img">
</div>