<% if member.company.present? || member.website.present? || member.biography.present? %>

  <h4>About <%= member.name %></h4>
  <%= member.company %>

  <% if member.website.present? %>
    <%= sanitize link_to(member.website, member.website, target: :_blank), attributes: %w(href target) %></li>
  <% end %>

  <%= render_markdown_as_html member.biography %>
<% end %>

